@inject NavigationManager NavigationManager

<PageTitle>De-Kaya Systems | @Title</PageTitle>

<div class="page-header">
    <div class="page-title">
        <h1>
            @if (!string.IsNullOrWhiteSpace(Icon))
            {
                <i class="bi @Icon text-primary me-2"></i>
            }
            @Title
        </h1>
        @if (!string.IsNullOrWhiteSpace(Description))
        {
            <p class="page-subtitle">@Description</p>
        }
    </div>

    <div class="page-actions">
        @if (ShowStatus)
        {
            <div class="status-badge">
                @if (Status)
                {
                    <span class="badge bg-success">Active</span>
                }
                else
                {
                    <span class="badge bg-danger">Inactive</span>
                }
            </div>
        }

        @if (ShowAddButton && !string.IsNullOrWhiteSpace(AddBtnUrl))
        {
            <div class="btn-group">
                <a href="@AddBtnUrl" class="btn btn-outline-success">
                    <i class="bi bi-plus-circle" />
                    <span>Ekle</span>
                </a>
            </div>
        }

        @if (ShowBackButton)
        {
            <button type="button" class="btn btn-outline-secondary" @onclick="BackButtonClicked">
                <i class="bi bi-arrow-left me-1"></i>
                <span>Geri</span>
            </button>
        }


        @Actions
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string? Title { get; set; } = default!;

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public bool ShowStatus { get; set; }

    [Parameter]
    public bool Status { get; set; } = true;

    [Parameter]
    public bool ShowBackButton { get; set; } = true;

    [Parameter]
    public bool ShowAddButton { get; set; }

    [Parameter]
    public string? AddBtnUrl { get; set; }

    [Parameter]
    public RenderFragment? Actions { get; set; }

    private void BackButtonClicked() => NavigationManager.NavigateTo("javascript:history.back()");
}
