@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@using DeKayaServer.BlazorApp.Components.Layout.NavMenu
@using DeKayaServer.BlazorApp.Components.Pages.Header
@using DeKayaServer.BlazorApp.Constans
@using DeKayaServer.BlazorApp.Interfaces
@inject IAccessTokenStoreService TokenStore
@inject NavigationManager Nav

@inherits LayoutComponentBase

<PageTitle>De-Kaya Systems</PageTitle>

@if (!ready)
{
    <div class="spinner-border text-primary m-5" role="status">
        <span class="sr-only"></span>
    </div>
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main-wrapper">
            <!-- Top Navbar -->
            <HeaderComponent />

            <!-- Main Content -->
            <main class="main-content">
                <div class="content-wrapper">
                    <!-- Dashboard Content -->
                    <div class="content-area">
                        @Body
                    </div>
                </div>
            </main>
        </div>
    </div>
}

@code {
    private bool ready;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        if (!authState.User.Identity?.IsAuthenticated ?? false)
        {
            var returnUrl = Uri.EscapeDataString(Nav.ToBaseRelativePath(Nav.Uri));
            Nav.NavigateTo($"{EndpointConstans.LoginPage}{returnUrl}", forceLoad: true);
            return;
        }
        ready = true;
    }
}