@inherits LayoutComponentBase

<PageTitle>@PageTitleConstans.AppName</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main-wrapper">
        <!-- Top Navbar -->
        <HeaderComponent />

        <!-- Main Content -->
        <main class="main-content">
            <div class="content-wrapper">
                <!-- Dashboard Content -->
                <div class="content-area">
                    @Body
                </div>
            </div>
        </main>
    </div>
</div>
